body {
    background-color: #f5f7fa;
    padding: 40px;
  }
  
  .container {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 0%, 0.1);
  }
  
  .left-side {
    width: 370px;
    background-color: #1e2939;
    color: #fff;
  }

  .contacts-title {
      color: #fff;
      font-size: 22px;
      line-height: 1.091;
  }

  .contacts-item {
      color: #fff;
      font-size: 14px;
      line-height: 1.714;
      list-style: none;
  }

  .contacts-link {
    opacity: 0.6;
    color: #fff;
    text-decoration: none;
  }

  .contacts-link:hover {
      opacity: 1;
  }

  .skills-title,
  .languages-title {
    font-size: 22px;
    line-height: 1.091;
  }
  
  .skills-item,
  .languages-item {
    font-size: 14px;
    line-height: 1.714;
    list-style: none;
    padding-left: 0;
  }

  .skills-item::before,
  .languages-item::before{
      content: '\2022';
      margin-right: 8px;
      color: #ff6b08;
      font-size: 18px;
  }

  .contacts,
  .skills,
  .languages {
    padding-left: 40px;
    margin-bottom: 60px;
  }
  
  .photo {
      margin-bottom: 30px;
  }
  .bio-title {
    font-size: 45px;
    line-height: 2;
    margin-bottom: 20px;
  }
  
  .bio-occupation {
    margin-bottom: 27px;
  }
  
  .bio-title ,
  .bio-occupation {
    color: #2a2a2a;
  }
  
  .bio-occupation,
  .bio-about {
    font-size: 14px;
    line-height: 1.714;
  }
  
  .bio-about {
    color: #595959;
  }
    .bio,
    .projects,
    .jobs,
    .education {
    margin-bottom: 60px;
    }

    .right-side {
        padding-left: 80px;
        padding-top: 68px;
        padding-right: 200px;
        padding-bottom: 68;
    }

    .education-title,
    .jobs-title {
        color: #2a2a2a;
        font-size: 22px;
        line-height: 1.091;
        margin-bottom: 26px;
    }
    
    .education-degree,
    .jobs-occupation {
        color: #2a2a2a;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
    }
    
    .education-time,
    .jobs-time {
        color: #828282;
        font-size: 12px;
        line-height: 2;
        margin-bottom: 18px;
    }
    
    .accent {
        color: #ff6b08;
    }
      
    .experience-item {
        color: #595959;
        font-size: 14px;
        line-height: 1.714;
        margin-bottom: 10px;
    }

    .experience {
        margin-bottom: 28px;
    }

    .projects-title {
        margin-bottom: 14px;
        color: #2a2a2a;
        font-size: 22px;
        line-height: 1.091;
    }
      
    .projects-link {
        color: #220fdc;
        font-size: 14px;
        line-height: 1.714;
    }

    .projects-link:hover {
        color: #ff6b08;
    }